table {
  width: 100%;
}


.ou-cell-center {
  text-align: center!important;
}

mat-header-cell {
  display:flex;
  justify-content:flex-end;
}


::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

