<mat-tab-group>
  <mat-tab label="Listado de productos">

    <div *ngIf="products" class="ou-padding-5">
      <anms-product-table [products]="products"></anms-product-table>
    </div>
  </mat-tab>


  <mat-tab label="Listado de servicios">
    <div *ngIf="services" class="ou-padding-5">
      <anms-services-table [services]="services"></anms-services-table>
    </div>
  </mat-tab>

  <mat-tab label="Crear producto">Formulario creacion productos.</mat-tab>

  <mat-tab label="Crear servicio">Formulario creacion servicios</mat-tab>
</mat-tab-group>
