table {
  width: 100%;
}

.ou-employee-table {

}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

/* Structure */
.ou-employee-table-container {
  position: relative;
}

.ou-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.ou-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ou-employee-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.ou-tooltip-red {
  background: #b71c1c!important;
}

.ou-tooltip-red {
  background: #859aff!important;
}
