<div class="ou-employee-table-container mat-elevation-z8">
  <div class="ou-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="ou-employee-rate-limit-reached" *ngIf="isRateLimitReached">
      Error reach
    </div>
  </div>

  <div class="ou-table-container">

    <table mat-table [dataSource]="data" class="ou-employee-table"
           matSort matSortActive="id" matSortDisableClear matSortDirection="asc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          #Id
        </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>


      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Usuario</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>


      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nivel</th>
        <td mat-cell *matCellDef="let row">{{row.employee_level}}</td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fecha Creación</th>
        <td mat-cell *matCellDef="let row">{{row.created_at|date}}</td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/employee/{{row.id}}">
            <button mat-icon-button color="primary" matTooltip="Modificar Administrador" matTooltipClass="ou-tooltip-blue">
              <mat-icon aria-label="Editar administrador">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar un administrador!" matTooltipClass="ou-tooltip-red">
              <mat-icon aria-label="Eliminar administrador">delete</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="2"></mat-paginator>
</div>
