<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear style="text-align: center;">
        #Id
      </th>
      <td mat-cell *matCellDef="let row" class="ou-cell-center">
        <span matBadge="{{row.id}}" matBadgeOverlap="true" matBadgePosition="before">
          <img *ngIf="row.images[0]" src="{{row.images[0].url}}" class="circular-landscape" onerror="this.src='https://www.cakedecoratingcentral.com.au/media/catalog/product/cache/1/small_image/578x/9df78eab33525d08d6e5fb8d27136e95/placeholder/default/Image_placeholder_1.png'" alt="No Image.">
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row" class="ou-cell-center"> {{row.lang.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let row" class="ou-cell-center"> {{row.lang.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
      <td mat-cell *matCellDef="let row" class="ou-cell-center"> {{row.points}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row" class="ou-cell-center">

        <button mat-icon-button color="primary" matTooltip="Modificar producto" matTooltipClass="ou-tooltip-blue" >
          <mat-icon aria-label="Editar producto">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" matTooltip="Eliminar Producto!" matTooltipClass="ou-tooltip-red">
          <mat-icon aria-label="Eliminar Producto">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
