<mat-tab-group (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="FAQs">
    <anms-faqs></anms-faqs>
  </mat-tab>


  <mat-tab label="Consejos">
    <anms-advices></anms-advices>
  </mat-tab>


  <mat-tab label="Preguntas/Respuestas">
    PREG/RESP
  </mat-tab>


  <mat-tab label="Métricas/KPIs">
    Métricas
  </mat-tab>

  <mat-tab label="Editar Elemento" *ngIf="editMode">
    <anms-advice-detail *ngIf="activeAdvice" [advice]="activeAdvice"></anms-advice-detail>
    <anms-faqs-detail *ngIf="activeFaq" [faq]="activeFaq"></anms-faqs-detail>
  </mat-tab>

  <mat-tab label="Agregar Elemento" *ngIf="addMode">

    <anms-advice-add *ngIf="addType=='advice'"></anms-advice-add>
    <anms-faqs-add *ngIf="addType=='faq'"></anms-faqs-add>

  </mat-tab>


</mat-tab-group>
