table {
  width:100%;
  padding: 5px;
}

.percent-50 {
  width:49%;
}


.ou-cell-center {
  text-align: left!important;
}

mat-header-cell {
  display:flex;
  justify-content:flex-start;
  float:left;
}


::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:left;
  float:left;
}

.ou-top-right-table {
  position:absolute;
  top:0;
  right:0;
  padding:5px;
  margin-right:10px;
}
